/*
 * NotesExampleAPI.PCL
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io )
 */
using System;
using System.Collections.Generic;
using System.Dynamic;
using System.Globalization;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using Newtonsoft.Json.Converters;
using NotesExampleAPI.PCL;
using NotesExampleAPI.PCL.Utilities;
using NotesExampleAPI.PCL.Http.Request;
using NotesExampleAPI.PCL.Http.Response;
using NotesExampleAPI.PCL.Http.Client;
using NotesExampleAPI.PCL.Exceptions;

namespace NotesExampleAPI.PCL.Controllers
{
    public partial class NotesController: BaseController
    {
        #region Singleton Pattern

        //private static variables for the singleton pattern
        private static object syncObject = new object();
        private static NotesController instance = null;

        /// <summary>
        /// Singleton pattern implementation
        /// </summary>
        internal static NotesController Instance
        {
            get
            {
                lock (syncObject)
                {
                    if (null == instance)
                    {
                        instance = new NotesController();
                    }
                }
                return instance;
            }
        }

        #endregion Singleton Pattern

        /// <summary>
        /// List all notes, optionally filtered by a query string
        /// </summary>
        /// <param name="q">Optional parameter: An optional search query to filter the results</param>
        /// <return>Returns the List<Models.NotesResponse> response from the API call</return>
        public List<Models.NotesResponse> GetNotes(string q = null)
        {
            Task<List<Models.NotesResponse>> t = GetNotesAsync(q);
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// List all notes, optionally filtered by a query string
        /// </summary>
        /// <param name="q">Optional parameter: An optional search query to filter the results</param>
        /// <return>Returns the List<Models.NotesResponse> response from the API call</return>
        public async Task<List<Models.NotesResponse>> GetNotesAsync(string q = null)
        {
            //the base uri for api requests
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/notes");

            //process optional query parameters
            APIHelper.AppendUrlWithQueryParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "q", q }
            },ArrayDeserializationFormat,ParameterSeparator);


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" }
            };

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Get(_queryUrl,_headers);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<List<Models.NotesResponse>>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// Remove the specified note
        /// </summary>
        /// <param name="id">Required parameter: The `id` of the specific note</param>
        /// <return>Returns the void response from the API call</return>
        public void DeleteNotesById(int id)
        {
            Task t = DeleteNotesByIdAsync(id);
            APIHelper.RunTaskSynchronously(t);
        }

        /// <summary>
        /// Remove the specified note
        /// </summary>
        /// <param name="id">Required parameter: The `id` of the specific note</param>
        /// <return>Returns the void response from the API call</return>
        public async Task DeleteNotesByIdAsync(int id)
        {
            //the base uri for api requests
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/notes/{id}");

            //process optional template parameters
            APIHelper.AppendUrlWithTemplateParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "id", id }
            });


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" }
            };

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Delete(_queryUrl, _headers, null);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

        }

        /// <summary>
        /// Retrieve the specified note
        /// </summary>
        /// <param name="id">Required parameter: The `id` of the specific note</param>
        /// <return>Returns the Models.NotesResponse response from the API call</return>
        public Models.NotesResponse GetNotesById(int id)
        {
            Task<Models.NotesResponse> t = GetNotesByIdAsync(id);
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// Retrieve the specified note
        /// </summary>
        /// <param name="id">Required parameter: The `id` of the specific note</param>
        /// <return>Returns the Models.NotesResponse response from the API call</return>
        public async Task<Models.NotesResponse> GetNotesByIdAsync(int id)
        {
            //the base uri for api requests
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/notes/{id}");

            //process optional template parameters
            APIHelper.AppendUrlWithTemplateParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "id", id }
            });


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" }
            };

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Get(_queryUrl,_headers);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<Models.NotesResponse>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// Update the specified note (allowing partial information)
        /// </summary>
        /// <param name="id">Required parameter: The `id` of the specific note</param>
        /// <param name="body">Required parameter: Example: </param>
        /// <return>Returns the Models.NotesResponse response from the API call</return>
        public Models.NotesResponse UpdateNotesById(int id, object body)
        {
            Task<Models.NotesResponse> t = UpdateNotesByIdAsync(id, body);
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// Update the specified note (allowing partial information)
        /// </summary>
        /// <param name="id">Required parameter: The `id` of the specific note</param>
        /// <param name="body">Required parameter: Example: </param>
        /// <return>Returns the Models.NotesResponse response from the API call</return>
        public async Task<Models.NotesResponse> UpdateNotesByIdAsync(int id, object body)
        {
            //the base uri for api requests
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/notes/{id}");

            //process optional template parameters
            APIHelper.AppendUrlWithTemplateParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "id", id }
            });


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" },
                { "content-type", "application/json; charset=utf-8" }
            };

            //append body params
            var _body = APIHelper.JsonSerialize(body);

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.PatchBody(_queryUrl, _headers, _body);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<Models.NotesResponse>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// Create a new note in the collection
        /// </summary>
        /// <param name="body">Required parameter: Example: </param>
        /// <param name="xTrackingExample">Optional parameter: You can specify request headers like this</param>
        /// <return>Returns the Models.NotesResponse response from the API call</return>
        public Models.NotesResponse CreateNotes(Models.NotesRequest body, Models.XTrackingExampleEnum? xTrackingExample = null)
        {
            Task<Models.NotesResponse> t = CreateNotesAsync(body, xTrackingExample);
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// Create a new note in the collection
        /// </summary>
        /// <param name="body">Required parameter: Example: </param>
        /// <param name="xTrackingExample">Optional parameter: You can specify request headers like this</param>
        /// <return>Returns the Models.NotesResponse response from the API call</return>
        public async Task<Models.NotesResponse> CreateNotesAsync(Models.NotesRequest body, Models.XTrackingExampleEnum? xTrackingExample = null)
        {
            //the base uri for api requests
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/notes");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" },
                { "content-type", "application/json; charset=utf-8" },
                { "X-Tracking-Example", (xTrackingExample.HasValue) ? Models.XTrackingExampleEnumHelper.ToValue(xTrackingExample.Value) : null }
            };

            //append body params
            var _body = APIHelper.JsonSerialize(body);

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.PostBody(_queryUrl, _headers, _body);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<Models.NotesResponse>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

    }
} 